/* CSS Document */
ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color:#27AE60;
}
li{
	float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:#f39c12; 
}
.active{
	background-color:#F39C12;
}
ul li ul{
	background-color:#2C3E50;
	display:none;
	position:absolute;
	width:100px;
}
ul li:hover ul{
	display:block;
}
li ul li{
	display:block;
}
